<div>
  <div class="location-comparison hidden">
    <span class="bg-image">&nbsp;</span>
    <span class="counter">0</span> <%= Location.human_name({:count => 2}) -%> ausgewählt - <a class="compare" href="#" rel="nofollow">Vergleichen</a> | <a class="reset" href="#" rel="nofollow">Zurücksetzen</a>
  </div>
</div>