<div class="content-box last only">
  <div class="error">
    <%= content_tag 'h2', 'Fehler 404' -%>

    <%= content_tag 'h3', 'Seite nicht gefunden', {:class => :headline} -%>

    <p>Die Seite, die Sie suchen, existiert nicht.</p>
  </div>
  <br /><br />
  <%= render :partial => 'frontend/common/ct_advertisement_336x280_large_rectangle' -%>
</div>