<div class="content-box last only">
  <div class="error">
    Es ist ein Fehler aufgetreten.
  </div>
  <br /><br />
  <%= render :partial => 'frontend/common/ct_advertisement_336x280_large_rectangle' -%>
</div>