<div class="user-authentication">
  <h1 class="blockhead">Neu Anmelden</h1>
  <% form_for(@current_user, {:url => frontend_user_login_url, :html => {:id => 'user-registration'}}) do |f| -%>
    <%= render({
          :partial => 'frontend/users/new_fields', 
          :locals  => {:f => f, :frontend_user => @current_user}
        })
    -%>
  <% end -%>
</div>