<div class="user-authentication new-frontend-user-confirmation">
  <h1 class="blockhead">Vielen Dank für Ihre Anmeldung!</h1>
  <div class="confirmation-note">
    Nach der Registrierung haben Sie eine Bestätigungs-E-Mail
    mit einem persönlichen Aktivierungscode erhalten, mit dem Sie Ihr
    Nutzerkonto jetzt aktivieren können.
  </div>
  <%= render({:partial => 'frontend/users/confirm_now_form'}) -%>
</div>