div { min-height:1px; }



.error { background:none; border:none; margin-bottom:0; padding:0; }
.asterisk { white-space:nowrap; }
.asterisk > span { background:url("/images/frontend/form_item_star_21x16.png") no-repeat scroll top left #FFFFFF; display:inline-block; height:20px; left:1px; position:relative; top:4px; width:16px; }

/*.asterisk-note { margin-left:10px; }*/

.left { float:left !important; }
.right { float:right !important; }
.clear { clear:both !important; }
.hidden,
.meta-data { display:none !important; }
.more-link { background-position:right -200px; line-height:30px; padding-right:20px; }
.read-less a[href="#"] { background:url("/images/frontend/arrow_double.spr.png") no-repeat scroll 0 -47px transparent; padding-left:18px; }
.read-more a[href="#"] { background:url("/images/frontend/arrow_double.spr.png") no-repeat scroll 0 -16px transparent; padding-left:18px; }

.form-entry.captcha { height:110px; }
.captcha-image { display:block; margin-left:100px; }
.captcha-image img { border:1px solid #C4C4C4; border-radius:5px 5px 5px 5px; box-shadow:2px 2px 5px #E2E2E2, 2px 2px 5px #E2E2E2 inset; float:left; margin-right:10px; padding:1px; position:relative; }
.captcha-image .description { max-width:480px; }
.reload-captcha { background-position:-110px -138px; display:inline-block; height:22px; line-height:22px; padding-left:25px; position:relative; top:2px; vertical-align:top; }
#fancybox-content .form-entry.captcha { height:120px; }
#fancybox-content .form-entry.captcha label { display:block; }
#fancybox-content .form-entry.captcha input[type=text] { display:inline-block; margin-right:5px; }
#fancybox-content .form-entry.captcha .captcha-image { margin-left:0; }

.share-link { display:block; line-height:26px; margin-bottom:20px; padding-left:30px; }
.share-link.facebook-26 { background-position:0 -524px; }
.share-link.twitter-26 { background-position:0 -554px; }
.share-link.google-plus-26 { background-position:0 -584px; }

.link-icon { line-height:16px; padding-left:20px; }
.link-icon.mail { background-position:0 -344px; }
.link-icon.ratings { background-position:0 -360px; }
.link-icon.new-rating { background-position:0 -376px; }
.link-icon.image-upload { background-position:0 -488px; }
.link-icon.info { background-position:0 -504px; }

.infobox { border:1px solid #990000; border-radius:5px 5px 5px 5px; box-shadow:2px 2px 2px rgba(0, 0, 0, 0.2); margin-bottom:3px; }
.infobox .close { background-position:0 -328px; cursor:pointer; float:right; height:16px; margin-top:1px; width:16px; }
.infobox.error { background-color:#990000; color:#FFFFFF; }
.infobox .checkmark { float:left; }
.infobox .message-checkmark { line-height:24px; margin-left:30px; }


.col-header { border-radius:3px 3px 0 0; }
.col-footer { border-radius:0 0 3px 3px; }
.col-header,
.col-footer { background-color:#EDEDED; min-height:28px; }
.col-header,
.col-footer, 
.col { clear:both; overflow:hidden; }
.col-header,
.col { border-bottom:1px solid #990000; }
.col-header > div,
.col-footer > div,
.col > div { padding:5px; }
.col .col-remember, .col .col-image, .col .col-details { float:left; margin-right:10px; }
.col .col-image { height:75px; width:75px; }
.col .col-image img { border-radius:2px; box-shadow:2px 2px 2px rgba(0, 0, 0, 0.2); }
.col .col-remember { background-color:#EDEDED; min-height:75px; position:relative; text-align:center; width:20px; }
.col .col-remember input { position:absolute; left:4px; }
.col-remember { text-align:center; }
.col .col-price { float:right; min-height:75px; padding-right:0; }
.col .col-price > div { margin-bottom:5px; text-align:right; }

.col > div > * { display:block; line-height:20px; margin-bottom:5px; }

div.rating-cancel a, div.star-rating a { text-indent:100000px; } /* jquery rating bugfix */
.location-stars { overflow:hidden; }
.location-stars form { display:inline-block; }
.location-stars .raters { display:inline-block; line-height:18px; margin-left:5px; }

.price-mark { color:#990000; font-size:14px; cursor:pointer; }
.price-description { color:#808080; font-size:11px; }

#main-container { padding:5px 0 0 0; position:absolute; text-align:center; width:100%; }
#main { display:inline-block; text-align:center; } /*width:1130px;*/
#page { float:left; margin:0 auto; width:950px; }

#banner { margin:10px 0; text-align:center; }
#banner
#skyscraper { float:left; margin-left:20px; width:160px; }
.advertisement.rectangle { text-align:center; }

#header { color:#000000; margin-bottom:20px; }
#header a { color:#990000; text-decoration:none; }
#header a:hover { color:#990000; text-decoration:underline; }

#header a.logo span { background-position:0 0; display:block; height:85px; position:absolute; top:-20px; width:440px; }

#header .header-panel { border-radius:8px 8px 0 0; box-shadow:2px 2px 2px rgba(0, 0, 0, 0.2); }

#header .search-panel { background-color:#990000; border-radius:8px 8px 0 0; height:80px; position:relative; }
#header .search-panel img { position:absolute; top:-20px;}
#header .search-panel #search { float:right; padding:17px; position:absolute; right:0; z-index:9; }

#header .navigation-panel { background-color:#CC8080; min-height:18px; padding: 5px; }
#header .navigation-panel:after { clear:both; content:" "; display:block; }

#search form {
    background: #FFFFFF; /* Old browsers */
    background: linear-gradient(top, #FFFFFF 0%,#EDEDED 100%); /* W3C */
    background: -moz-linear-gradient(center top, #FFFFFF, #EDEDED) repeat scroll 0 0 transparent; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#EDEDED)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #CC8#FFFFFF080 0%,#EDEDED 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #FFFFFF 0%,#EDEDED 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #FFFFFF 0%,#EDEDED 100%); /* IE10+ */
    border: 1px solid #D2D2D2;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
    padding: 3px 6px;
}
#search input[type="text"] { border-radius:5px 0 0 5px; margin:3px 0; padding:6px; width: 300px; }
#search input[type="submit"] { background-position:0 -86px; background-color:#990000; border-radius:0 5px 5px 0; font-weight: bold; height: 28px; line-height: 15px; margin: 5px 0; padding: 3px 5px 6px 5px; width:30px; }
#search input[type="submit"]:hover { background-position: 0 -112px; }
#search #search-suggestions > ul { width:99% !important; }
#search .error { background-color:transparent; margin:0; }
#search .error p { float:left; padding:1px 3px; }
#search .error .close { background-position:0 -328px; cursor:pointer; float:right; height:16px; margin-top:1px; width:16px; }

#breadcrumb { color:#FFFFFF; float:left;  font-weight:bold; }
#breadcrumb a, #breadcrumb span { display:inline-block; }
#breadcrumb a { color:#FFFFFF; text-decoration:none; }
#breadcrumb a:hover { color:#FFFFFF; text-decoration:underline; }
#breadcrumb a.breadcrumb-item { background-position:right -264px; line-height:16px; padding-right:24px; margin-right:8px; }
#breadcrumb a.breadcrumb-item.last { margin-right:0; }

#social-share { float:right; }
#social-share > div { display:inline-block; }
#social-share li.help_info { margin-top:3px; }

/* addthis buttons */
.addthis_toolbox > a { padding: 0 2px; }
.at-button,
.sl-button { display:inline-block; float:left; }
.at-button * { background-image:none !important; }
.at-16,
.sl-16 { height:16px; width:16px; }
.at-16.addthis_button_facebook,
.sl-16.social-link-facebook { background-position: -30px -86px; }
.at-16.addthis_button_twitter,
.sl-16.social-link-twitter { background-position: -50px -86px; }
.at-16.addthis_button_google_plusone_share,
.sl-16.social-link-google_plusone_share { background-position: -70px -86px; }
.at-16.addthis_button_print { background-position: -90px -86px; }
.at-16.addthis_button_compact { background-position: -110px -86px; }
/*.at-26 { height:26px; width:26px; }*/


#content { min-height:640px; }
#content a, #fancybox-content a { color:#990000; }
#content a:hover, #fancybox-content a:hover { color:#990000; }
#fancybox-content a.primarybutton { color:#FFFFFF; }
#fancybox-content a.primarybutton:hover { color:#FFFFFF; }

#fancybox-content { text-align:left; }
#fancybox-content label,
#fancybox-content form > img { display:block; }
#fancybox-content input[type=text], 
#fancybox-content input[type=password], 
#fancybox-content textarea { display:block; margin-top:0; }
#fancybox-content textarea { height:80px; width:450px; }
#fancybox-content .text-message.error { margin-left:0; }

#footer { background-color:#CC8080; border-radius:8px 8px 0 0; color:#000000; clear:both; overflow:hidden; padding:10px; }
#footer a { color:#000000; text-decoration:none; }
#footer a:hover { color:#000000; text-decoration:underline; }
#footer > ul { display:block; }
#footer > ul > li { display:block; float:left; list-style:none outside none; min-width:150px; }
#footer > ul > li.right li { text-align:right; }

.content-box { display:block; float:left; margin-bottom:20px; margin-right:20px; position:relative; }
.content-box.last { margin-right:0px !important; } /*float:none;*/
.content-box.only { clear: both; display:block; float:none; overflow:hidden; }

.first-letters { margin-bottom:20px; text-align:center; }
.first-letter { border-radius:3px; display:inline-block; min-width:20px; padding:5px 5px; text-align:center;  }
.first-letter.current { background-color:#990000; color:#FFFFFF; }

h1, h2, h3, h4, h5, h6 { clear:both; }
.headline { border-bottom:2px solid #990000; margin-bottom:20px; text-align:left; /*color:#990000;*/ }

.pagination { margin-bottom:20px; text-align:center; }
.pagination span, 
.pagination a { border-radius:2px; display:inline-block; min-width:12px; padding:5px 8px; }
.pagination a:hover { 
    background-color:#990000; 
    color:#FFFFFF !important; 
    opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}
.pagination .prev_page { float:left; }
.pagination .next_page { float:right; }
.pagination .current { background-color:#990000; color:#FFFFFF; }

.first-letters { margin-bottom:20px; text-align:center; }
.first-letters span, 
.first-letters a { border-radius:2px; display:inline-block; min-width:12px; padding:5px 8px; }
.first-letters a:hover { 
    background-color:#990000; 
    color:#FFFFFF !important; 
    opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}
.first-letters .current { background-color:#990000; color:#FFFFFF; }


.chapter { margin-bottom:20px; }
.chapter.last { margin-bottom:0px; }
.chapter fieldset legend { font-weight:bold; font-size:16px; margin:0; padding:10px;}
.chapter .note { font-size: 12px; }
.chapter .note strong { text-decoration: underline; }

.primarybutton {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #990000), color-stop(1, #CC8080) );
    background:-moz-linear-gradient( center top, #990000 5%, #CC8080 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#990000', endColorstr='#CC8080');
    background-color:#990000;
    border-radius:4px;
    border:1px solid #990000;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    color:#ffffff !important;
    cursor: pointer;
    display:inline-block;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #777777;
}
.primarybutton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #CC8080), color-stop(1, #990000) );
    background:-moz-linear-gradient( center top, #CC8080 5%, #990000 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC8080', endColorstr='#990000');
    background-color:#CC8080;
    text-decoration:none;
}
.primarybutton:active { position:relative; top:1px; }
.publishbutton { height:40px; margin-bottom:10px; }



.reviews .review { border-bottom:1px solid #CCCCCC; margin-bottom:10px; padding-bottom:10px; }
.reviews .review.last { border-bottom:none; padding-bottom:0px; }
.reviews .review .review-author { font-weight:bold; margin-bottom:10px; }
.reviews .review .stars { margin-bottom:10px; overflow:hidden; }
.reviews .review .location-stars { float:left; width:120px; }
.reviews .review .location-stars .label { font-weight:normal !important; }
.reviews .review .location-stars .answer { color:#666666; display:block; font-size:10px; line-height:17px; }

.aggregated-review-and-ratings { height:250px; padding:0 10px; width:230px; }
.aggregated-review-and-ratings .label { float:left; min-width:70px; }
.aggregated-review-and-ratings form { float:right; }
.aggregated-review-and-ratings form .answer { color:#666666; float:left; font-size:10px; line-height:17px; margin-right:5px; }
.aggregated-review-stars,
.aggregated-rating-stars { border-bottom:1px solid #CCCCCC; }
.aggregated-review-stars > div,
.aggregated-rating-stars > div,
.aggregated-raters { padding:11px 0; }
