<div class="content-box">
  <p>
    <%= t('shared.location_image.deleted.message', {:domain_name => @host_name}) -%>
  </p>
  <br />
  <%= render :partial => 'frontend/common/ct_advertisement_336x280_large_rectangle' -%>
</div>