.addthis-smartlayers-mobile a { background-color:#990000 !important; opacity:1 !important; }
.addthis-smartlayers-mobile a:hover { background-color:#990000 !important; opacity:0.5 !important; }
.addthis-smartlayers-mobile a i { opacity:0.4 !important; }