<div class="mobile-adspace">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- www.brunch-finden.de | responsive -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-8501080810468075"
       data-ad-slot="7190224045"
       data-ad-format="auto"></ins>
  <script>(adsbygoogle = window.adsbygoogle || []).push({});</script> 
</div>