<div class="mobile-adspace">
  <div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- www.brunch-finden.de | 120x60 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:120px;height:60px"
         data-ad-client="ca-pub-8501080810468075"
         data-ad-slot="1143690445"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script> 
  </div>
</div>