<%
  #<!--
  #<div id="fb-root"></div>
  #<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
  #-->
-%>
<fb:like-box href="http://www.facebook.com/pages/brunch-findende/131669423571599" height="180" width="950" show_faces="true" stream="false" header="false">
  <span>
    <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2Fbrunch-findende%2F131669423571599&amp;width=950&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=180" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:950px; height:180px;" allowTransparency="true">
    </iframe>
  </span>
</fb:like-box>