
<div id="banner">
  <div class="label">Anzeige</div>
  <%= render :partial => 'frontend/common/ct_advertisement_728x90_leaderboard' -%>
  <%= content_tag(:div, '', {:class => 'bg-image close', :title => I18n.t('shared.close.text_message')}) -%>
</div>