<div class="advertisement large-rectangle">
  <p class="advertisement"><%= t('shared.advertisement') -%></p>
  <script type="text/javascript">
    <!--
    google_ad_client = "ca-pub-8501080810468075";
    /* brunch-finden 336x280 Large Rectangle */
    google_ad_slot = "9749056976";
    google_ad_width = 336;
    google_ad_height = 280;
    //-->
  </script>
  <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
</div>