<p class="advertisement"><%= t('shared.advertisement') -%></p>
<script type="text/javascript">
  <!--
  google_ad_client = "ca-pub-8501080810468075";
  /* brunch-finden.de | 728 x15 | 25.05.2012 */
  google_ad_slot = "0016806677";
  google_ad_width = 728;
  google_ad_height = 15;
  //-->
</script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>