<div class="advertisement skyscraper">
  <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- brunch-finden.de | 160x600 | 01.11.2013 -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:160px;height:600px"
       data-ad-client="ca-pub-8501080810468075"
       data-ad-slot="6633587248"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script> 
</div>