<p class="advertisement"><%= t('shared.advertisement') -%></p>
<script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- www.brunch-finden.de | 120x140 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:120px;height:240px"
     data-ad-client="ca-pub-8501080810468075"
     data-ad-slot="8797344449"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>