<div id="addthis-button">
  <!-- AddThis Button BEGIN -->
  <a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=ra-4dc68dac6169ab52">
    <%= image_tag('lg-share-en.gif', {:width => 125, :height => 16, :alt => 'Bookmark and Share', :style => 'border:0'}) -%>
  </a>
  <script type="text/javascript">
    var addthis_config = {"data_track_clickback":true};
    //var addthis_config = {"data_track_clickback":true,"data_track_addressbar":true};
  </script>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4dc68dac6169ab52"></script>
  <!-- AddThis Button END -->
</div>