<div class="advertisement banner">
  <p class="advertisement"><%= t('shared.advertisement') -%></p>
  <script type="text/javascript">
    <!--
    google_ad_client = "ca-pub-8501080810468075";
    /* brunch-finden.de Locationseite */
    google_ad_slot = "9978665003";
    google_ad_width = 468;
    google_ad_height = 60;
    //-->
  </script>
  <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
</div>