<div class="row">
  <div class="col-xs-12 mobile-adspace">
    <div class="text-muted pull-left">Anzeige</div>
    <button type="button" class="close pull-right" aria-label="Close" title="<%= I18n.t('shared.close.text_message') -%>">
      <span aria-hidden="true">&times;</span>
    </button>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- www.brunch-finden.de | responsive -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8501080810468075"
         data-ad-slot="7190224045"
         data-ad-format="auto"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  </div>
</div>