<div class="user-authentication">
  <p>
    Sie haben Ihr Passwort vergessen? Kein Problem!<br />
    Geben Sie hier Ihren Mitgliedsname oder Ihre E-Mail-Adresse ein.
  </p>
  <%= render({:partial => 'frontend/password_reset_requests/new_form'}) -%>
</div>