<div class="content-page">
  <p>
    <%= t('.text') -%><br />
    <%= t('shared.the_team_of', {:domain_name => @host_name}) -%>
  <p>
  <%= render :partial => 'frontend/common/ct_advertisement_336x280_large_rectangle' -%>
</div>
